{
  "extends": [
    "react-app",
    "airbnb",
    "airbnb/hooks",
    "plugin:jsx-a11y/recommended",
    "plugin:import/warnings",
    "plugin:import/errors",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": ["jsx-a11y", "prettier"],
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "object-curly-newline": [1, { "multiline": true }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
